@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 18px;
    }

    header img {
        margin-left: 560px;
        margin-top: -140px;
        border-radius: 10px;
        box-shadow: 2px 2px paleturquoise;
    }
}