@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Orbitron:wght@500&family=Press+Start+2P&display=swap');

body {
    margin: auto;
    width: 80%;
    max-width: 750px;
}


h1 {
    background-color: darkslategrey;
    color: papayawhip;
    padding: 30px 0px 30px 100px;
    font-family: 'Iceland', cursive;
    border-radius: 10px;
    font-size: 40px;
    text-shadow: 1px 1px turquoise;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin-top: -80px;
    margin-left: 30px;
    margin-right: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

ul li {
    font-family: 'Orbitron', sans-serif;
    margin-left: 30px;
    list-style: circle;
}

a:link {
    color: rgb(177, 97, 0);
    text-decoration: none;
}

main a:visited {
    color: olive;
}

main a:hover {
    background-color: teal;
    color: papayawhip;
    padding: 1px;
    border-radius: 2px 2px 2px 2px;
  }

footer {
    background-color: darkslategrey;
    color: papayawhip;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    font-size: 16px;
}

footer a:visited {
    color: mediumaquamarine;
}

footer a:hover {
    color: darkorange;
}

#updated {
    color: chartreuse;
}