/*font-family: 'Arvo', serif;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Cabin|Lato&display=swap');
body {
    margin: auto;
    width: 80%;
    max-width: 750px;
}

h1 {
    background-color: #595E66;
    color: #94DDBC;
    padding: 30px 0px 30px 100px;
    font-family: 'Cabin', 'Lato';
    border-radius: 10px;
    font-size: 40px;
}

h2 {
    font-family: 'Cabin', 'Lato';
    font-size: 12px;
    margin-top: -80px;
    margin-left: 30px;
    margin-right: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

ul li {
    font-family: 'Cabin', sans-serif;
    margin-left: 30px;
    list-style: circle;
}

a:link {
    color: rgb(44, 153, 204);
    text-decoration: none;
}

main a:visited {
    color: olive;
}

main a:hover {
    background-color: rgb(13, 117, 100);
    color: #94DDBC;
    padding: 1px;
    border-radius: 2px 2px 2px 2px;
  }

footer {
    background-color: #595E66;
    color: #94DDBC;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    font-size: 16px;
}

footer a:visited {
    color: mediumaquamarine;
}

footer a:hover {
    color: darkorange;
}