@media only screen and (min-width: 60em) {
   
   /*Header*/
   .logo {
      width: 18rem;
   }
   
   /*Navigation*/
   .navigation {
      font-size: 140%;
   }

   .navigation a:hover {
      color: black;
      background-color: rgb(91, 213, 243);
   }

   /*Body*/
   body {
      max-width: 100%;
   }

   /*Main*/
   header, main {
      display: grid;
      grid-gap: 25px;
      justify-content: center;
      text-align: center;
   }
   
   picture img[data-src] {
      filter: blur(0.2em);
   }
    
   picture img {
      filter: blur(0em);
      transition: filter 1s;
   }  

   /*Footer*/
   footer {
      font-size: 15px;
      padding: 1rem;
   }

   /*########## Images #########*/


   .pictures {
      display: grid;
      grid-template-columns: repeat(3, 3fr);
      grid-template-rows: repeat(3, 3fr);
      margin: 1rem 0 3rem 0;
  }

  .gallery:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
      -ms-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      transform: scale(1.02);
  }

  .gallery {
      height: 100%;
      margin: .5rem 0;
      padding-bottom: .3rem;
  }

  .galleryImg {
      height: 90%;
  }

  .img-text {
      margin: 0 0;
      display: block;
      text-align: center;
      padding-top: .5rem;
  }
}