@media only screen and (min-width: 32.5em) {
   
   .logo {
      width: 15rem;
   }

   .navigation {
		display: flex;
      align-content: center;
      font-size: 120%;
   }
   
	.navigation li {
		display: block;
		flex: 1 1 auto;
      margin-block-start: 1em;
      margin-block-end: 1em;
   }
   
	.navigation li:first-child {
		display: none;
   }
   
   .contentbox {
      padding: 20px;
      max-width: 85%;
   }
}