@media only screen and (min-width: 32.5em) {
   
   .logo {
      width: 15rem;
   }

   .navigation {
      display: flex;
      font-size: x-large;
      line-height: 70px;
   }
   
	.navigation li {
		display: block;
      flex: 1 1 auto;
   }

   .navigation a {
      text-align: center;
   }
   
	.navigation li:first-child {
		display: none;
   }
   
   .contentbox {
      padding: 20px;
      max-width: 85%;
   }
}