@media only screen and (min-width: 32.5em) {
   
   /*Header*/

   .logo {
      width: 15rem;
   }

   /*Navigation*/

   .navigation {
      display: flex;
      font-size: x-large;
      line-height: 70px;
      white-space: nowrap;
   }
   
	.navigation li {
		display: block;
      flex: 1 1 auto;
   }

   .navigation a {
      text-align: center;
   }
   
	.navigation li:first-child {
		display: none;
   }
   
   nav ul li a.selected {
        border-bottom: #333333 solid 3px;
    }
   
   /*Summary*/
   
   .weathersummary {
        position: absolute;
        top: 32rem;
        left: 4rem;
        padding: 1rem;
        white-space: nowrap;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        display: block;
        text-align: center;
   }
   
   /*Article*/
   
   .floatimg {
        display: block;
        float: right;
        margin: 0;
        max-width: 50%;
        padding: 1em;
    }
   
   .blockimg {
      display: none;
   }
   
   /*Contact Information*/
   
   .contactgrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 50px;
   }
   
   .contactinfo {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column: 2/3;
   }

   .mapsmall {
     grid-row: 1/3;
     height: 200px
   }

   .contactoptions {
      display: flex;
   }
   
   
   /*Footer*/
   
   
   
   
   
}