@media only screen and (min-width: 60em) {
   body {
      max-width: 100%;
   }

   .forecastCard {
      border: 3px black solid;
      padding: 3rem;
   }

   .logo {
      width: 18rem;
   }
   
   .contentbox {
      padding: 30px;
      max-width: 85%;      
   }
   
   footer {
      font-size: 15px;
      padding: 1rem;
   }
   
   .navigation {
      font-size: 140%;
   }
      
   .navigation a:hover {
	color: black;
	background-color: rgb(91, 213, 243);
   }

   .mainImg {
      margin: 10px auto;
      width: 100%;
      height: auto;
  }
}