@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 18px;
    }

    header img {
        position: relative;
        top: 250px;
        left: 500px;
        border-radius: 10px;
        box-shadow: 2px 2px #444;  
    }
}