/*font-family: 'Arvo', serif;
font-family: 'Montserrat', sans-serif;
*/
/* names of colors */
/*   --primary-color: #595E66; black coral - lighter black than smokey */
/*   --secondary-color: #9fc490; dark sea green */
/*   --accent1-color: #b4a6ab; black shadows */
/*   --accent2-color: #b02e0c; chinese red */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat&display=swap');
body {
    margin: auto;
    width: 80%;
    max-width: 750px;
}
.home-grid {
    display: grid;
    grid-template-columns: 2em 1em 2em;
    grid-gap: 1em;
    padding: 1em;
}
h1 {
    background-color: #595E66;
    color: #9fc490;
    padding: 30px 0px 30px 100px;
    font-family: 'Arvo', 'sans-serif';
    border-radius: 10px;
    font-size: 40px;
}

h2 {
    font-family: 'Arvo', 'sans-serif';
    font-size: 12px;
    margin-top: -80px;
    margin-left: 30px;
    margin-right: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

ul li {
    font-family: 'Arvo', sans-serif;
    margin-left: 30px;
    list-style: circle;
}

a:link {
    color: #b02e0c;
    text-decoration: none;
}

main a:visited {
    color: olive;
}

main a:hover {
    background-color: #b4a6ab;
    color: #94DDBC;
    padding: 1px;
    border-radius: 2px 2px 2px 2px;
  }

footer {
    background-color: #595E66;
    color: #9fc490;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    font-size: 16px;
}

footer a:visited {
    color: #e3f09b;
}

footer a:hover {
    color: darkorange;
}